USE [C:\USERS\ALEX\DOCUMENTS\GITHUB\WEMS\MAIN WEMS GUI\UC1 FORM\DATABASE2.MDF] --put the name of your computer's database in the brackets
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[Client_ID] [varchar](5) NOT NULL,
	[Company_Name] [varchar](50) NOT NULL,
	[PhoNum] [varchar](15) NOT NULL,
	[PointOf_Contact] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Client_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CLIENT_EQUIPMENT]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT_EQUIPMENT](
	[Equipment_ID] [varchar](5) NOT NULL,
	[Client_ID] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Client_ID] ASC,
	[Equipment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CLOCKTIME]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLOCKTIME](
	[Clocktime_ID] [varchar](5) NOT NULL,
	[Employee_ID] [varchar](5) NOT NULL,
	[Day] [date] NULL,
	[Clock_In] [datetime] NULL,
	[Clock_Out] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Clocktime_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTRACT]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRACT](
	[Contract_ID] [varchar](5) NOT NULL,
	[Client_ID] [varchar](5) NOT NULL,
	[Is_State] [bit] NOT NULL,
	[Is_Accepted] [bit] NOT NULL,
	[Required_Work_Num] [numeric](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Contract_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[Employee_ID] [varchar](5) NOT NULL,
	[First_Name] [varchar](20) NOT NULL,
	[MI] [varchar](20) NOT NULL,
	[Last_Name] [varchar](20) NOT NULL,
	[Minority_Status] [bit] NOT NULL,
	[DOB] [date] NOT NULL,
	[Address] [varchar](50) NULL,
	[Gender] [char](1) NOT NULL,
	[PhoNum] [varchar](15) NULL,
	[is_Supervisor] [bit] NOT NULL,
	[from_Outside] [bit] NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLOYEE_CONTRACT]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE_CONTRACT](
	[Employee_ID] [varchar](5) NOT NULL,
	[Jobsite_ID] [varchar](5) NOT NULL,
	[Job_Name] [varchar](40) NOT NULL,
	[Wage] [numeric](6, 2) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLOYEE_CREDENTIALS]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE_CREDENTIALS](
	[Username] [varchar](30) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Employee_ID] [varchar](5) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLOYEE_QUAL]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE_QUAL](
	[Employee_ID] [varchar](5) NOT NULL,
	[Qual_ID] [varchar](5) NOT NULL,
	[Name] [varchar](20) NOT NULL,
 CONSTRAINT [EMPLOYEE_QUAL_PK] PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC,
	[Qual_ID] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EQUIPMENT]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPMENT](
	[Equipment_ID] [varchar](5) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[isa_Vehicle] [bit] NOT NULL,
	[Status] [varchar](10) NOT NULL,
	[Location] [varchar](20) NOT NULL,
	[Equip_Condition] [varchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Equipment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JOBSITE]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBSITE](
	[Jobsite_ID] [varchar](5) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Wage_Scale_Form] [xml] NULL,
	[Statement_of_Policies] [xml] NULL,
	[Client_Supervisor] [varchar](30) NOT NULL,
	[Contract_ID] [varchar](5) NOT NULL,
	[Supervisor_ID] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Jobsite_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LINE_ITEM]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINE_ITEM](
	[Line_Item_ID] [varchar](5) NOT NULL,
	[Description] [varchar](max) NULL,
	[Unit_Measurement] [char](10) NOT NULL,
	[Cheapest_Cost] [numeric](15, 2) NOT NULL,
	[Amount_In_Stock] [numeric](5, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Line_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAYCHECKV1]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYCHECKV1](
	[Date_Sent] [date] NOT NULL,
	[Employee_ID] [varchar](5) NOT NULL,
	[Total_Amount] [numeric](8, 2) NULL,
	[Base_Pay] [numeric](8, 2) NOT NULL,
	[Hourly_Rate] [numeric](6, 2) NOT NULL,
	[Hours_Worked] [numeric](4, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROJECT_QUAL]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT_QUAL](
	[Contract_ID] [varchar](5) NOT NULL,
	[Qual_ID] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Contract_ID] ASC,
	[Qual_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUALIFICATION]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUALIFICATION](
	[Qual_ID] [varchar](5) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Qual_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[Supplier_ID] [varchar](5) NOT NULL,
	[Supplier_Type] [varchar](10) NOT NULL,
	[Supplier_Name] [varchar](20) NOT NULL,
	[Email] [varchar](20) NOT NULL,
	[Sales_Rep] [varchar](20) NOT NULL,
	[Line_Item_ID] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Supplier_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUPPLIER_EQUIPMENT]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER_EQUIPMENT](
	[Supplier_ID] [varchar](5) NOT NULL,
	[Equipment_ID] [varchar](5) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUPPLIER_ITEM]    Script Date: 4/24/2017 4:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER_ITEM](
	[Supplier_ID] [varchar](5) NOT NULL,
	[Line_Item_ID] [varchar](5) NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CLIENT_EQUIPMENT]  WITH CHECK ADD  CONSTRAINT [CLIENTC_ID_FK] FOREIGN KEY([Client_ID])
REFERENCES [dbo].[CLIENT] ([Client_ID])
GO
ALTER TABLE [dbo].[CLIENT_EQUIPMENT] CHECK CONSTRAINT [CLIENTC_ID_FK]
GO
ALTER TABLE [dbo].[CLIENT_EQUIPMENT]  WITH CHECK ADD  CONSTRAINT [EQUIPMENTC_ID_FK] FOREIGN KEY([Equipment_ID])
REFERENCES [dbo].[EQUIPMENT] ([Equipment_ID])
GO
ALTER TABLE [dbo].[CLIENT_EQUIPMENT] CHECK CONSTRAINT [EQUIPMENTC_ID_FK]
GO
ALTER TABLE [dbo].[CLOCKTIME]  WITH CHECK ADD  CONSTRAINT [EmployeeClock_ID_FK] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[EMPLOYEE] ([Employee_ID])
GO
ALTER TABLE [dbo].[CLOCKTIME] CHECK CONSTRAINT [EmployeeClock_ID_FK]
GO
ALTER TABLE [dbo].[CONTRACT]  WITH CHECK ADD  CONSTRAINT [Client_ID_FK] FOREIGN KEY([Client_ID])
REFERENCES [dbo].[CLIENT] ([Client_ID])
GO
ALTER TABLE [dbo].[CONTRACT] CHECK CONSTRAINT [Client_ID_FK]
GO
ALTER TABLE [dbo].[EMPLOYEE_CONTRACT]  WITH CHECK ADD  CONSTRAINT [C_Employee_ID] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[EMPLOYEE] ([Employee_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE_CONTRACT] CHECK CONSTRAINT [C_Employee_ID]
GO
ALTER TABLE [dbo].[EMPLOYEE_CONTRACT]  WITH CHECK ADD  CONSTRAINT [C_Jobsite_ID] FOREIGN KEY([Jobsite_ID])
REFERENCES [dbo].[JOBSITE] ([Jobsite_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE_CONTRACT] CHECK CONSTRAINT [C_Jobsite_ID]
GO
ALTER TABLE [dbo].[EMPLOYEE_CREDENTIALS]  WITH CHECK ADD  CONSTRAINT [EMPLOYEECRED_FK] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[EMPLOYEE] ([Employee_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE_CREDENTIALS] CHECK CONSTRAINT [EMPLOYEECRED_FK]
GO
ALTER TABLE [dbo].[EMPLOYEE_QUAL]  WITH CHECK ADD  CONSTRAINT [Q_EMPLOYEE_ID_FK] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[EMPLOYEE] ([Employee_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE_QUAL] CHECK CONSTRAINT [Q_EMPLOYEE_ID_FK]
GO
ALTER TABLE [dbo].[EMPLOYEE_QUAL]  WITH CHECK ADD  CONSTRAINT [Qual_ID_FK] FOREIGN KEY([Qual_ID])
REFERENCES [dbo].[QUALIFICATION] ([Qual_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE_QUAL] CHECK CONSTRAINT [Qual_ID_FK]
GO
ALTER TABLE [dbo].[JOBSITE]  WITH CHECK ADD  CONSTRAINT [CONTRACT_ID_FK] FOREIGN KEY([Contract_ID])
REFERENCES [dbo].[CONTRACT] ([Contract_ID])
GO
ALTER TABLE [dbo].[JOBSITE] CHECK CONSTRAINT [CONTRACT_ID_FK]
GO
ALTER TABLE [dbo].[PAYCHECKV1]  WITH CHECK ADD  CONSTRAINT [EMPLOYEE_ID_FK] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[EMPLOYEE] ([Employee_ID])
GO
ALTER TABLE [dbo].[PAYCHECKV1] CHECK CONSTRAINT [EMPLOYEE_ID_FK]
GO
ALTER TABLE [dbo].[PROJECT_QUAL]  WITH CHECK ADD  CONSTRAINT [ContractP_ID_FK] FOREIGN KEY([Contract_ID])
REFERENCES [dbo].[CONTRACT] ([Contract_ID])
GO
ALTER TABLE [dbo].[PROJECT_QUAL] CHECK CONSTRAINT [ContractP_ID_FK]
GO
ALTER TABLE [dbo].[PROJECT_QUAL]  WITH CHECK ADD  CONSTRAINT [QualP_ID_FK] FOREIGN KEY([Qual_ID])
REFERENCES [dbo].[QUALIFICATION] ([Qual_ID])
GO
ALTER TABLE [dbo].[PROJECT_QUAL] CHECK CONSTRAINT [QualP_ID_FK]
GO
ALTER TABLE [dbo].[SUPPLIER]  WITH CHECK ADD  CONSTRAINT [LINEITEM_ID_FK] FOREIGN KEY([Line_Item_ID])
REFERENCES [dbo].[LINE_ITEM] ([Line_Item_ID])
GO
ALTER TABLE [dbo].[SUPPLIER] CHECK CONSTRAINT [LINEITEM_ID_FK]
GO
ALTER TABLE [dbo].[SUPPLIER_EQUIPMENT]  WITH CHECK ADD  CONSTRAINT [EQUIPMENT_ID_FK] FOREIGN KEY([Equipment_ID])
REFERENCES [dbo].[EQUIPMENT] ([Equipment_ID])
GO
ALTER TABLE [dbo].[SUPPLIER_EQUIPMENT] CHECK CONSTRAINT [EQUIPMENT_ID_FK]
GO
ALTER TABLE [dbo].[SUPPLIER_EQUIPMENT]  WITH CHECK ADD  CONSTRAINT [SUPPLIER_ID_FK] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[SUPPLIER] ([Supplier_ID])
GO
ALTER TABLE [dbo].[SUPPLIER_EQUIPMENT] CHECK CONSTRAINT [SUPPLIER_ID_FK]
GO
ALTER TABLE [dbo].[SUPPLIER_ITEM]  WITH CHECK ADD  CONSTRAINT [SILI_ID_FK] FOREIGN KEY([Line_Item_ID])
REFERENCES [dbo].[LINE_ITEM] ([Line_Item_ID])
GO
ALTER TABLE [dbo].[SUPPLIER_ITEM] CHECK CONSTRAINT [SILI_ID_FK]
GO
ALTER TABLE [dbo].[SUPPLIER_ITEM]  WITH CHECK ADD  CONSTRAINT [SIS_ID_FK] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[SUPPLIER] ([Supplier_ID])
GO
ALTER TABLE [dbo].[SUPPLIER_ITEM] CHECK CONSTRAINT [SIS_ID_FK]
GO
USE [C:\USERS\ALEX\DOCUMENTS\GITHUB\WEMS\MAIN WEMS GUI\UC1 FORM\DATABASE2.MDF] --put the name of your computer's database in the brackets
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
INSERT INTO [dbo].[EMPLOYEE] ([Employee_ID], [First_Name], [MI], [Last_Name], [Minority_Status], [DOB], [Address], [Gender], [PhoNum], [is_Supervisor], [from_Outside], [Position]) VALUES (N'12345', N'Steve', N'A', N'Henderson', 0, N'1990-04-15', N'15524 Crestmore Lane', N'M', N'456-123-4589', 1, 0, N'Employee')
INSERT INTO [dbo].[EMPLOYEE] ([Employee_ID], [First_Name], [MI], [Last_Name], [Minority_Status], [DOB], [Address], [Gender], [PhoNum], [is_Supervisor], [from_Outside], [Position]) VALUES (N'12654', N'Rachel', N'B', N'Malkowitz', 0, N'1991-01-10', N'12356 Peach Tree Blvd', N'F', N'215-225-2645', 0, 0, N'Manager')
INSERT INTO [dbo].[EMPLOYEE] ([Employee_ID], [First_Name], [MI], [Last_Name], [Minority_Status], [DOB], [Address], [Gender], [PhoNum], [is_Supervisor], [from_Outside], [Position]) VALUES (N'15267', N'Peter', N'C', N'McCaw', 0, N'1995-12-07', N'1313 Park Drive', N'M', N'555-777-1234', 0, 0, N'Supervisor')
INSERT INTO [dbo].[QUALIFICATION] ([Qual_ID], [Name], [Description]) VALUES (N'11111', N'Backhoe', N'Allowed to use a backhoe')
INSERT INTO [dbo].[QUALIFICATION] ([Qual_ID], [Name], [Description]) VALUES (N'22222', N'Steamroller', N'Allowed to use a steamroller')
INSERT INTO [dbo].[QUALIFICATION] ([Qual_ID], [Name], [Description]) VALUES (N'33333', N'Dump Truck', N'Allowed to use a dump truck')
INSERT INTO [dbo].[EMPLOYEE_QUAL] ([Employee_ID], [Qual_ID], [Name]) VALUES (N'12345', N'11111', N'Backhoe')
INSERT INTO [dbo].[EMPLOYEE_QUAL] ([Employee_ID], [Qual_ID], [Name]) VALUES (N'12654', N'33333', N'Dump Truck')
INSERT INTO [dbo].[EMPLOYEE_QUAL] ([Employee_ID], [Qual_ID], [Name]) VALUES (N'15267', N'55555', N'Cement Truck')
INSERT INTO [dbo].[EQUIPMENT] ([Equipment_ID], [Name], [isa_Vehicle], [Status], [Location], [Equip_Condition]) VALUES (N'11111', N'Bulldozer', 1, N'working', N'location1', N'New')
INSERT INTO [dbo].[EQUIPMENT] ([Equipment_ID], [Name], [isa_Vehicle], [Status], [Location], [Equip_Condition]) VALUES (N'22222', N'Tractor', 1, N'working', N'location2', N'Good')
INSERT INTO [dbo].[EQUIPMENT] ([Equipment_ID], [Name], [isa_Vehicle], [Status], [Location], [Equip_Condition]) VALUES (N'33333', N'Golf Cart', 1, N'working', N'location3', N'New')
INSERT INTO [dbo].[LINE_ITEM] ([Line_Item_ID], [Description], [Unit_Measurement], [Cheapest_Cost], [Amount_In_Stock]) VALUES (N'11111', N'item1', N'pounds    ', CAST(500.00 AS Decimal(15, 2)), CAST(10 AS Decimal(5, 0)))
INSERT INTO [dbo].[LINE_ITEM] ([Line_Item_ID], [Description], [Unit_Measurement], [Cheapest_Cost], [Amount_In_Stock]) VALUES (N'22222', N'item2', N'pounds    ', CAST(800.00 AS Decimal(15, 2)), CAST(15 AS Decimal(5, 0)))
INSERT INTO [dbo].[LINE_ITEM] ([Line_Item_ID], [Description], [Unit_Measurement], [Cheapest_Cost], [Amount_In_Stock]) VALUES (N'33333', N'item3', N'pounds    ', CAST(100.00 AS Decimal(15, 2)), CAST(3 AS Decimal(5, 0)))
INSERT INTO [dbo].[SUPPLIER] ([Supplier_ID], [Supplier_Type], [Supplier_Name], [Email], [Sales_Rep], [Line_Item_ID]) VALUES (N'11111', N'AAA', N'supplier1', N'email1', N'Steve', N'11111')
INSERT INTO [dbo].[SUPPLIER] ([Supplier_ID], [Supplier_Type], [Supplier_Name], [Email], [Sales_Rep], [Line_Item_ID]) VALUES (N'22222', N'AAA', N'supplier2', N'email2', N'Bill', N'22222')
INSERT INTO [dbo].[SUPPLIER] ([Supplier_ID], [Supplier_Type], [Supplier_Name], [Email], [Sales_Rep], [Line_Item_ID]) VALUES (N'33333', N'BBB', N'supplier3', N'email3', N'Brad', N'33333')
INSERT INTO [dbo].[SUPPLIER_EQUIPMENT] ([Supplier_ID], [Equipment_ID]) VALUES (N'11111', N'11111')
INSERT INTO [dbo].[SUPPLIER_EQUIPMENT] ([Supplier_ID], [Equipment_ID]) VALUES (N'22222', N'22222')
INSERT INTO [dbo].[SUPPLIER_EQUIPMENT] ([Supplier_ID], [Equipment_ID]) VALUES (N'33333', N'33333')
INSERT INTO [dbo].[CLIENT] ([Client_ID], [Company_Name], [PhoNum], [PointOf_Contact]) VALUES (N'11111', N'Indiana State Contractor', N'765-555-1234', N'Jerome Seeks')
INSERT INTO [dbo].[CLIENT] ([Client_ID], [Company_Name], [PhoNum], [PointOf_Contact]) VALUES (N'22222', N'Ohio State Contractor', N'354-221-2222', N'Darnel Barnes')
INSERT INTO [dbo].[CLIENT] ([Client_ID], [Company_Name], [PhoNum], [PointOf_Contact]) VALUES (N'33333', N'Kansas State Contractor', N'222-321-4213', N'Shavonne Hayes')
INSERT INTO [dbo].[CONTRACT] ([Contract_ID], [Client_ID], [Is_State], [Is_Accepted], [Required_Work_Num]) VALUES (N'11111', N'11111', 1, 1, CAST(3 AS Decimal(18, 0)))
INSERT INTO [dbo].[CONTRACT] ([Contract_ID], [Client_ID], [Is_State], [Is_Accepted], [Required_Work_Num]) VALUES (N'22222', N'22222', 1, 0, CAST(4 AS Decimal(18, 0)))
INSERT INTO [dbo].[CONTRACT] ([Contract_ID], [Client_ID], [Is_State], [Is_Accepted], [Required_Work_Num]) VALUES (N'33333', N'33333', 1, 1, CAST(10 AS Decimal(18, 0)))
INSERT INTO [dbo].[JOBSITE] ([Jobsite_ID], [Name], [Wage_Scale_Form], [Statement_of_Policies], [Client_Supervisor], [Contract_ID], [Supervisor_ID]) VALUES (N'11111', N'Evergreen', NULL, NULL, N'Gary Bullock', N'11111', N'11111')
INSERT INTO [dbo].[JOBSITE] ([Jobsite_ID], [Name], [Wage_Scale_Form], [Statement_of_Policies], [Client_Supervisor], [Contract_ID], [Supervisor_ID]) VALUES (N'22222', N'Vvardenfell', NULL, NULL, N'John Maynes', N'22222', N'22222')
INSERT INTO [dbo].[JOBSITE] ([Jobsite_ID], [Name], [Wage_Scale_Form], [Statement_of_Policies], [Client_Supervisor], [Contract_ID], [Supervisor_ID]) VALUES (N'33333', N'Ta-Koro', NULL, NULL, N'Sally Barnes', N'33333', N'33333')
INSERT INTO [dbo].[EMPLOYEE_CONTRACT] ([Employee_ID], [Jobsite_ID], [Job_Name], [Wage]) VALUES (N'12345', N'11111', N'Accounting', CAST(7.25 AS Decimal(6, 2)))
INSERT INTO [dbo].[EMPLOYEE_CONTRACT] ([Employee_ID], [Jobsite_ID], [Job_Name], [Wage]) VALUES (N'22345', N'22222', N'Tower Construction', CAST(10.00 AS Decimal(6, 2)))
INSERT INTO [dbo].[EMPLOYEE_CONTRACT] ([Employee_ID], [Jobsite_ID], [Job_Name], [Wage]) VALUES (N'12654', N'33333', N'Electrical Engineering', CAST(17.25 AS Decimal(6, 2)))
INSERT INTO [dbo].[PAYCHECKV1] ([Date_Sent], [Employee_ID], [Total_Amount], [Base_Pay], [Hourly_Rate], [Hours_Worked]) VALUES (N'2017-04-14', N'12345', CAST(50.00 AS Decimal(8, 2)), CAST(10.00 AS Decimal(8, 2)), CAST(15.00 AS Decimal(6, 2)), NULL)
INSERT INTO [dbo].[PAYCHECKV1] ([Date_Sent], [Employee_ID], [Total_Amount], [Base_Pay], [Hourly_Rate], [Hours_Worked]) VALUES (N'2017-04-14', N'22345', CAST(50.00 AS Decimal(8, 2)), CAST(10.00 AS Decimal(8, 2)), CAST(15.00 AS Decimal(6, 2)), NULL)
INSERT INTO [dbo].[PAYCHECKV1] ([Date_Sent], [Employee_ID], [Total_Amount], [Base_Pay], [Hourly_Rate], [Hours_Worked]) VALUES (N'2017-04-14', N'12654', CAST(50.00 AS Decimal(8, 2)), CAST(10.00 AS Decimal(8, 2)), CAST(15.00 AS Decimal(6, 2)), NULL)
INSERT INTO [dbo].[SUPPLIER_ITEM] ([Supplier_ID], [Line_Item_ID]) VALUES (N'11111', N'11111')
INSERT INTO [dbo].[SUPPLIER_ITEM] ([Supplier_ID], [Line_Item_ID]) VALUES (N'22222', N'22222')
INSERT INTO [dbo].[SUPPLIER_ITEM] ([Supplier_ID], [Line_Item_ID]) VALUES (N'33333', N'33333')
INSERT INTO [dbo].[CLIENT_EQUIPMENT] ([Equipment_ID], [Client_ID]) VALUES (N'11111', N'11111')
INSERT INTO [dbo].[CLIENT_EQUIPMENT] ([Equipment_ID], [Client_ID]) VALUES (N'22222', N'22222')
INSERT INTO [dbo].[CLIENT_EQUIPMENT] ([Equipment_ID], [Client_ID]) VALUES (N'33333', N'33333')
INSERT INTO [dbo].[EMPLOYEE_CREDENTIALS] ([Username], [Password], [Employee_ID]) VALUES (N'steve.henderson', N'pineapples', N'12345')
INSERT INTO [dbo].[EMPLOYEE_CREDENTIALS] ([Username], [Password], [Employee_ID]) VALUES (N'rachel.malkowitz', N'wiiwouldliketoplay', N'12654')
INSERT INTO [dbo].[EMPLOYEE_CREDENTIALS] ([Username], [Password], [Employee_ID]) VALUES (N'peter.mccaw', N'whipitwhipitgood', N'15267')
INSERT INTO [dbo].[PROJECT_QUAL] ([Contract_ID], [Qual_ID]) VALUES (N'11111', N'11111')
INSERT INTO [dbo].[PROJECT_QUAL] ([Contract_ID], [Qual_ID]) VALUES (N'22222', N'22222')
INSERT INTO [dbo].[PROJECT_QUAL] ([Contract_ID], [Qual_ID]) VALUES (N'33333', N'33333')
GO